.header {
    background-color: darkturquoise;
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.nav-list {
    margin: 0;
}

.nav-item {
    display: inline-block;
    float: left;
    margin-left: 16px;
    color: white;
    line-height: 40px;
}

.content {
    height: 5000px;
    background-color: beige;
}

.head {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    z-index: 1;
}

.ear {
    width: 40px;
    height: 60px;
    background-color: brown;
    position: relative;
    top: -60px;
}

.ear_left {
    float: left;
    left: -40px;
}

.ear_right {
    float: right;
    right: -40px;
}

.eye {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: grey;
    position: relative;
    z-index: 2;
}

.eye_right {
    margin-top: 80px;
    float: right;
}

.eye_left {
    margin-top: 80px;
    float: left;
}